# Client/Admin (Next.js)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Backend services
SUPABASE_URL=

ADMIN_EMAILS=admin@example.com,owner@example.com
NEXT_PUBLIC_ADMIN_EMAILS=admin@example.com,owner@example.com
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key